In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('../data/globalterrorismdb_0718dist.csv', encoding='latin1')

C:\Users\SHASHANK\AppData\Local\Temp\ipykernel_3996\2609432499.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/globalterrorismdb_0718dist.csv', encoding='latin1')

In [4]:
print(df.shape)
print(df.columns)
df.head()

(181691, 135)
Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
df.isnull().sum().sort_values(ascending=False)

gsubname3           181671
weapsubtype4_txt    181621
weapsubtype4        181621
weaptype4           181618
weaptype4_txt       181618
                     ...
suicide                  0
success                  0
crit3                    0
property                 0
eventid                  0
Length: 135, dtype: int64

In [7]:
columns_to_drop = ['summary', 'alternative', 'alternative_txt', 'alternative2', 'alternative3', 'eventid']
df.drop(columns=columns_to_drop, axis=1, inplace=True, errors='ignore')

In [8]:
df['nkill'] = df['nkill'].fillna(0)
df['nwound'] = df['nwound'].fillna(0)

In [9]:
df['iyear'] = df['iyear'].astype(int)  
df['imonth'] = df['imonth'].astype(int)

In [10]:
df.to_csv('../data/cleaned_globalterrorism.csv', index=False)

In [11]:

print("Data cleaning complete! Cleaned file saved.")

Data cleaning complete! Cleaned file saved.